:root {
  --primary-color: #00c853;
  --primary-color-hover: #00a744;
  --secondary-color: #6c757d;
  --background-color: #333;
  --text-color-dark: black;
  --text-color-light: white;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.icon-button__icon {
  width: 60px; /* Adjust the size as needed */
  height: 60px; /* Adjust the size as needed */
}

.icon-button:hover .icon-button__icon {
  filter: brightness(0.8);
}

.icon-button:active .icon-button__icon {
  filter: brightness(0.6);
}

.can-load-container {
  position: relative;
}

.can-load-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.can-load-spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.splash-screen img {
  width: 200px;
  height: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.login-container .error {
  color: red;
  margin-bottom: 10px;
}

.login-container button {
  padding: 10px;
  font-size: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: var(--primary-color-hover);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group input {
  flex: 1;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  font-weight: normal;
  margin-bottom: 60px;
}

.create-account-button {
  margin-bottom: 10px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.sign-up-container .error {
  color: red;
  margin-bottom: 10px;
}

.sign-up-container div {
  margin-bottom: 10px;
}

.sign-up-container button {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-container button:hover {
  background-color: var(--primary-color-hover);
}

.confirm-sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.confirm-sign-up-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.confirm-sign-up-container .error {
  color: red;
  margin-bottom: 10px;
}

.confirm-sign-up-container div {
  margin-bottom: 10px;
}

.confirm-sign-up-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-sign-up-container button:hover {
  background-color: #0056b3;
}

.re-bin-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  /* background-color: #00c85372; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color: red; */
  z-index: 1;
}

.user-icon {
  position: absolute;
  top: 30px;
  right: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #00c853;
  /* Green color */
}

.camera-feed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.camera-feed video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error-message {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 3px;
}

.camera-select {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 3px;
}

.position-indicators {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.rectangle {
  width: 150px;
  height: 300px;
  border: 2px solid #00c853;
  /* Green color */
  margin: 0 10px;
  background-color: rgba(0, 200, 83, 0.2);
  /* Semi-transparent green */
}

.scan-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #00c85372;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 3px solid #00c853;
  border-radius: 48px;
  cursor: pointer;
}

.scan-button-icon {
  font-size: 34px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.profile-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.prediction-container {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  border-radius: 20px 20px 0 0;
  height: 75%;
  background-color: rgba(90, 90, 90, 0.9);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  transition: bottom 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 2;
  padding: 20px;
}

.prediction-container.slide-up {
  bottom: 0;
}

.preview-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: #232323 solid 2px;
  object-fit: cover;
  margin-bottom: 40px;
}

.loading {
  font-size: 100px; /* Adjust the size as needed */
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.prediction-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.prediction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 200px;
  margin-bottom: 10px;
}

.action-button {
  background-color: #00c853;
  color: white;
  border: none;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.not-recyclable-button {
  background-color: #ff5252;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #232323;
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background-color: #00a744;
}

.center-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.bracket {
  position: absolute;
  width: 50px; /* Width of the bracket */
  height: 50px; /* Height of the bracket */
  border: 5px solid #00c853; /* Color of the bracket */
}

.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.reward-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #00c853;
}

.reward-animation.pop-up {
  animation: popUp 1s forwards;
}

.reward-animation.fade-off {
  animation: fadeOff 1s forwards;
}

@keyframes popUp {
  0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOff {
  0% {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
  100% {
      opacity: 0;
      transform: translate(200%, -200%);
  }
}